@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 700;
}

.btn_custom {
  color: #ffffff;
  padding: 14px 60px;
}

.btn_custom:focus {
  outline: 0;
  box-shadow: none;
}

.under_score_shap {
  width: 85px;
  height: 4px;
  background-color: #C8D9E5;
  display: block;
  margin: auto;
}

#header_section {
  background-color: #87509C;
}

#header_section .navbar_area .navbar-brand img {
  width: 80px;
}

#header_section .header_area .row {
  min-height: 500px;
  align-items: center;
}

#header_section .header_area .row .col h1 {
  color: #ffffff;
}

#header_section .header_area .row .col button {
  color: #ffffff;
  background-color: #EB7D4B;
  border-bottom: 8px solid #C86A40;
}

#header_section .header_area .row .col button:hover {
  color: #ffffff;
  background-color: #C86A40;
  border-bottom: 8px solid #EB7D4B;
}

@media (min-width: 992px) {
  .navbar-nav .nav-link.active, .navbar-nav .show > .nav-link, .nav-link:hover {
    background-color: #643A79;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: .2rem .8rem;
    border-radius: .2rem;
  }
}

#service_section {
  background-color: #17C2A4;
  color: #ffffff;
}

#service_section .row .col {
  margin: auto;
}

#service_section .row .col .card {
  background-color: transparent;
  margin-bottom: 35px;
}

#service_section .row .col .card .card_img {
  height: 150px;
  margin: auto;
  overflow: hidden;
}

#service_section .row .col .card .card-body .card-title {
  font-weight: 700;
}

#team_section {
  background-color: #E7F1F8;
}

#team_section .row .col .card {
  background-color: transparent;
  border: none;
  margin-bottom: 3rem;
}

#team_section .row .col .card .card_img {
  width: 11rem;
  height: 11rem;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

#team_section .row .col .card .card-body .card-title {
  font-weight: 700;
  margin-bottom: 0;
}

#team_section .row .col .card .card-body .card_designation {
  color: #3CBEE8;
  font-weight: 600;
}

#team_section .row .col .card .card-body .card-text {
  margin-top: 0.8rem;
}

#team_section .row .col .card .card-body .card_social_icon ul li {
  background-color: #BDD1DF;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#team_section .row .col .card .card-body .card_social_icon ul li a {
  vertical-align: middle;
}

#team_section .row .col .card .card-body .card_social_icon ul li a i {
  color: #fff;
}

.emty_section {
  height: 500px;
  background: #000;
}
