
$primary-color: #0f5f5cd2;
$secend-color: #6FB048;
$therd-color: #ffffff;

// Header Section Css Start
#headerArea{
    color: #fff;
    background-image: url(../img/about_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;                
    min-height: 500px;     
    position: relative;    
    z-index: 1;

    .row{
        align-items: center;
        min-height: 500px;
    }    

// overlay
    .overlay{
        background: $primary-color;
    }
    h3{
        font-weight: 300;
        font-size: 2.5rem;
    }
}

// Download Section Css Start
#download_section{
    background: url(../img/app/app_download_section_bg_about.png);
    color: $therd-color;

    .btn_custom_one{
        background-color: #37681b;
        &:hover{
            background-color: $primary-color;
        }
    }
}
// Download Section Css End