@media (max-width: 1200px) {
  #global_section {
    background-position: -180px 0;
  }
}

@media (max-width: 991px) {
  #profile_section .profile_img img {
    max-width: 300px;
    margin-left: 3rem;
  }
  #global_section {
    background-position: -220px 0;
  }
  #global_section h3 {
    font-size: 1.25rem;
  }
  #global_section p {
    font-size: 0.90rem;
  }
  #price_plan_section h3 {
    font-size: 1.5rem;
  }
  #price_plan_section .price_plan_row .price_plan ul li h4 {
    font-size: 3rem;
  }
  #price_plan_section .price_plan_row .price_plan ul li h4 strong {
    font-size: 0.775rem;
  }
  #price_plan_section .price_plan_row .price_plan ul li button {
    font-size: .9rem;
  }
}

@media (max-width: 767px) {
  #feature_section .row .feature_header h2 {
    font-weight: 400;
    font-size: 1.75rem;
  }
  #app_section {
    background: none;
    background-color: #EDF1EB;
  }
  #app_section h3 {
    font-size: 1.5rem;
  }
  #app_section p {
    font-size: .9rem;
  }
  #profile_section .profile_img {
    display: none;
  }
  #global_section {
    background: none;
    background: #E7EDE7;
    height: 400px;
  }
  #price_plan_section .price_plan_row .price_plan {
    border: 1px solid #D0DEDC;
  }
}

#download_section h4 {
  font-size: 1.2rem;
}

#download_section button {
  font-size: .8rem;
}

@media (max-width: 575px) {
  .navbar-nav .nav-item .nav-link {
    font-size: .8rem;
  }
  #price_plan_section .price_plan_row .price_plan ul li h4 {
    font-size: 2rem;
  }
  #price_plan_section .price_plan_row .price_plan ul li h4 strong {
    font-size: 0.8rem;
  }
}

@media (max-width: 468px) {
  .container, .container-sm {
    max-width: 420px;
  }
  #headerArea .row .col .header_text_area h3 {
    font-size: 1.50rem;
  }
  #headerArea .row .col .header_text_area p {
    font-size: 0.90rem;
  }
  #price_plan_section .plans ul li {
    font-size: .8rem;
  }
}
